@use "global/" as g;

.p-contact-form__title {
  font-size: g.rem(24);
  line-height: g.l-height(35, 24);
  font-weight: var(--f-weight-bold);
  text-align: center;
}

.p-contact-form__wrap {
  margin-top: g.rem(40);
  @include g.mq("md") {
    margin-top: g.rem(63);
  }
}

.p-contact-form__item {
  &:not(:first-child) {
    margin-top: g.rem(20);
    @include g.mq("md") {
      margin-top: g.rem(32);
    }
  }
}

.p-contact-form__label {
  display: block;
  position: relative;
}

.p-contact-form__head {
  display: flex;
  align-items: center;
  min-height: g.rem(20);
}

.p-contact-form__heading {
  font-size: max(14px, g.rem(14));
  font-weight: var(--f-weight-bold);
  line-height: 1;
  @include g.mq("md") {
    font-size: g.rem(18);
  }
}

.p-contact-form__tag {
  font-size: max(10px, g.rem(10));
  padding: g.rem(2.5) g.rem(10);
  font-weight: var(--f-weight-bold);
  background-color: var(--c-accent-02);
  color: var(--c-base);
  flex-shrink: 0;
  margin-left: g.rem(8);
  @include g.mq("md") {
    font-size: max(12px, g.rem(12));
    padding: g.rem(1) g.rem(8);
  }
}

.p-contact-form__body {
  margin-top: g.rem(8);
  display: block;
  @include g.mq("md") {
    margin-top: g.rem(15);
  }
}

// form parts 共通style
.p-contact-form__input,
.p-contact-form__select,
.p-contact-form__textarea {
  width: 100%;
  border: 1px solid #ddd;
  font-size: max(14px, g.rem(14));
  line-height: g.l-height(24, 14);
  font-weight: var(--f-weight-medium);
  background-color: var(--c-base);
  border-radius: g.rem(4);
  color: var(--c-sub);

  &::placeholder {
    color: #ccc;
  }
}

// input style
.p-contact-form__input {
  padding: g.rem(9) g.rem(14);
  @include g.mq("md") {
    font-size: g.rem(16);
    padding: g.rem(8.5) g.rem(14);
  }
}

// select style
.p-contact-form__select-warp {
  display: block;
  margin-top: g.rem(8);
}

.p-contact-form__select-warp select {
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: g.rem(11) g.rem(7);
  background-position: 95% 50%;
  @include g.mq("md") {
    background-position: 98% 50%;
  }
}

.p-contact-form__select {
  padding: g.rem(9) g.rem(14);
  @include g.mq("md") {
    font-size: g.rem(16);
    padding: g.rem(8.5) g.rem(14);
  }

  &._is-empty {
    color: #ccc;
  }
}

// textarea style
.p-contact-form__textarea {
  height: g.rem(140);
  padding: g.rem(12) g.rem(16);
  margin-top: g.rem(8);
  @include g.mq("md") {
    min-height: g.rem(240);
    font-size: g.rem(16);
    padding: g.rem(8.5) g.rem(14);
    margin-top: g.rem(13);
  }
}

// checkbox style
.p-contact-form__checkbox {
  margin-top: g.rem(40);
  text-align: center;
}

.p-contact-form__checkbox .wpcf7-list-item {
  margin: 0;
}

.p-contact-form__checkbox > span {
  padding-left: g.rem(38);
  display: inline-block;
  position: relative;
  @include g.mq("md") {
    padding-left: g.rem(40);
  }
}

.p-contact-form__checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;

  &:checked + span::after {
    visibility: visible;
    opacity: 1;
  }

  &:focus + span::before {
    outline: 2px solid var(--c-main);
  }
}

.p-contact-form__checkbox input[type="checkbox"] + span {
  display: inline-block;
  font-size: max(12px, g.rem(14));
  line-height: g.l-height(28, 14);
  font-weight: var(--f-weight-medium);
  @include g.mq("md") {
    font-size: g.rem(16);
  }

  // 疑似要素チェックボックス
  &::before {
    content: "";
    display: inline-block;
    width: g.rem(28);
    height: g.rem(28);
    border: 1px solid #3e3e3e;
    background-color: var(--c-base);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include g.mq("md") {
      width: g.rem(32);
      height: g.rem(32);
    }
  }

  // 疑似要素チェックマーク
  &::after {
    content: "";
    visibility: hidden;
    width: g.rem(18);
    height: g.rem(18);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("../images/check.svg");
    background-color: var(--c-sub);
    mask-size: 100% 100%;
    position: absolute;
    top: g.rem(2);
    left: g.rem(7);
    opacity: 0;
    transition: 0.3s;
  }
}

.p-contact-form__checkbox input[type="checkbox"] + span a {
  font-weight: var(--f-weight-bold);
  text-decoration: underline;
  margin-right: g.rem(6);
  @include g.mq("md") {
    margin-right: g.rem(10);
  }
}

// btn
.p-contact-form__btn {
  margin-top: g.rem(40);
  text-align: center;

  input[type="submit"] {
    @include g.mq("md") {
      padding-right: g.rem(79);
      padding-left: g.rem(79);
    }
  }

  .wpcf7-spinner {
    display: none;
  }
}
